%section.contact-sales.page-container.gitlab-version-section.text-center.animated#pricing
  %h1 Starting at $39/user per year
  %div<
    = link_to "Explore products", "/products", class: "btn cta-btn red"
    = link_to "Contact Sales", "/sales", class: "btn cta-btn red"
